[SddmGreeterTheme]
Name=Lain Wired
Description=Mr Tuna
Author=me
License=GPLv3
Type=sddm-theme
Version=0.4.1
Website=https://github.com
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=nixos
Theme-API=2.0
